.add-new-card {
    border: 2px dashed rgb(197, 194, 194); 
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .add-new-card:hover {
    background-color: #f8f9fa;
  }
  
  .card-content p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #0f0f0f;
  }
  