
.sidebar-link {
  color: #ffffff !important; /* Change the color to white */
  font-size: 1.25rem; /* Increase text size */
  padding: 10px 0; /* Add padding for spacing */
}

.sidebar-link:hover {
  color: #ff8c00 !important; /* Change the color on hover to orange */
}
