.custom-sidebar {
  background-color: #000000; /* Sidebar background color */
  color: white; /* Text color *  height: 100vh; /* Full height */
  position: sticky; /* Make it sticky */
  top: 0; /* Stick to the top */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
 
}

.custom-sidebar .nav-link {
 color: white; /* Link color */
}

.custom-sidebar .nav-link:hover {
  background-color: #495057; /* Background on hover */
}


