
/*/ deperecated
$primary: #4e4051;       // Custom primary color
$secondary: #c2cdea;     // Custom secondary color
$font-family-base: 'Arial, sans-serif';


@import 'bootstrap/scss/bootstrap';

// also abandoned this but left for future reference
body {
  font-family: sans-serif;
  background-color: $primary;
  color: #fff;
}