
Define your custom colors using Sass variables
$primary: #4e4051;       // Custom primary color
$secondary: #c2cdea;     // Custom secondary color
$font-family-base: 'Arial, sans-serif';


@import 'bootstrap/scss/bootstrap';

/Add any other global styles here
body {
  font-family: sans-serif;
  background-color: $primary;
  color: #fff;
}